<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tut1|home</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body> 
    
    <h1>This is the page of tutorial 1 home page</h1>
    <img src="{% static 'images/photo.jpg'%}" alt="" width="500px" height="500px">
    <input id="make" type="button" value="Click" onclick="produce()">
    <script src="{% static 'js/first.js'%}"></script>
</body>
</html>