{% extends 'base.htm'%}
{% block body%}
<div class="container my-5">
    <h1>Your To-Do LIst</h1>
    <form method="POST" action="/send/">
        {% csrf_token %} 
        <div class="form-group">
          <input type="text" class="form-control" id="list" aria-describedby="emailHelp" name="list">
          <small id="emailHelp" class="form-text text-muted">Write what you want to add to the list</small>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>
<div class="container my-4">
    {% for list in context%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{list}}!</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>    
    {% endfor%}
</div>
{% endblock%}